<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>map_info_test</title>
    map_info_test
</head>
<body>
 <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
 <script src="https://cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.js"></script>
<script type='text/javascript'>
	<!--定义JSON数组-->
	var jsonArr = JSON.stringify({
    "id": 1000
    });

	function sendJson() {
		$.ajax({
			type : "POST",
			url : "http://127.0.0.1:8000/map/",
            dataType : "json",
            data: jsonArr,
            contentType : "application/json; charset=utf-8",
            headers:{"X-CSRFToken":$.cookie('csrftoken')},
            success: function (data) {
                //var v = eval("(" + data + ")");
                //console.log(v);
                alert(JSON.stringify(data));
                //console.log(JSON.stringify(data));
                //console.log("数据对象：" + data + data.length);
            },
            error: function(err) {
                console.log(err);
            }
		});
	}


	sendJson();

</script>

</body>
</html>